/* Write your CSS here */
.logo {
  height: 50px;
  width: 50px;
}
.li {
  list-style: none;
  margin: 5px;
}
.ul {
  display: flex;
}
.li1 {
  display: flex;
  color: white;
  margin: 5px;
}
.light {
  background-color: white;
  display: flex;
  border: 2px solid grey;
  justify-content: space-between;
}
.dark {
  background-color: black;
  display: flex;
  border: 2px solid grey;
  justify-content: space-between;
  color: white;
}
.btn {
  background-color: transparent;
  border-width: 0px;
}
